{% extends 'base.html' %}

{% block title %} New User {% endblock %}

{% block content %}
    <h1>Create a User</h1>
    <form action = '/users/new' method = 'POST' class = 'col-6 user-form'>
        <div class = 'mb-3'>
            <label for = 'first' class = 'form-label'>First Name</label>
            <input name = 'first' placeholder = 'First Name' class = 'form-control'>
        </div>
        
        <div class = 'mb-3'>
            <label for = 'last' class = 'form-label'>Last Name</label>
            <input name = 'last' placeholder = 'Last Name' class = 'form-control'>
        </div>

        <div class = 'mb-3'>
            <label for = 'img' class = 'form-label'>Image URL</label>
            <input name = 'img' placeholder = 'Image URL' class = 'form-control'>
        </div>

        <div class = 'mb-3'>
            <button class = 'btn btn-success'>Create User</button>
            <button type='submit' formmethod='get' formaction='/' class = 'btn btn-warning'>HOME</button>
        </div>
    </form>
{% endblock %}

