{% extends 'base.html' %}

{% block title %}User Details{% endblock %}

{% block content %}
    <h1>{{user.get_full_name()}}</h1>
    
    <div class="row">
        <img class = 'profile-img' src = '{{user.image_url}}'>
        
        <form action = '/users/{{user.id}}/edit'>
            <button class = 'btn btn-primary'>Edit User</button>
        </form>

        <form action = '/users/{{user.id}}/delete' method = 'POST'>
            <button class = 'btn btn-danger'>Delete User</button>
        </form>

        <form action = '/'>
            <button class = 'btn btn-warning'>HOME</button>
        </form>
    </div>

    <div>
        <h3>Posts:</h3>
        <ul>
            {% for post in posts %}
                <li>
                    <a href='/users/{{user.id}}/posts/{{post.id}}'>{{post.title}}</a>
                </li>
            {% endfor %}
        </ul>

        <form action='/users/{{user.id}}/posts/new'>
            <button class = 'btn btn-primary'>Add Post</button>
        </form>
    </div>
{% endblock %}